@font-face {
  font-family: "Raleway";
  src: url(https://fonts.googleapis.com/css2?family=Raleway&display=swap)
    format("truetype");
}

body {
  font-family: Raleway;
  padding: 10px;
  margin: 10px;
}
@media screen {


header {
  display: flex;
  justify-content: space-between;
  flex-direction: row;  
  align-items: flex-end;
}

#logo {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}
a:link {
  text-decoration: none;
  color: black;
}

nav ul {
  display: flex;
  list-style-type: none;
}

nav a {
  font-size: 1em;
  color: black;
  margin-top: 30px;
  margin-right: 30px;
}

.inscription {
  color: #0065fc;
  font-weight: bold;
}

h1 {
  font-size: large;
  color: black;
}

h2 {
  font-size: medium;
  font-weight: bold;
  color: black;
  margin: 10px;
  margin-left: 2px;
}

p {
  margin-top: 0;
  margin-bottom: 1px;
  font-weight: normal;
}

.filtre {
  border: 2px solid #f2f2f2;
  border-radius: 50px;
  margin-right: 15px;
  padding-right: 10px;
  display: flex;
  flex-direction: row;
  font-weight: bold;
  border-left: #deebff;
  align-items: center;
  justify-content: center;
}

.filtre:hover {
  background-color: #e9e7e7;
  cursor: auto;
}

#filtres h2 {
  margin-bottom: 18px;
}

li {
  list-style-type: none;
}

.styleMenu a:hover {
  border-top: 2px #0065fc solid;
  padding-top: 30px;
  padding: 30px;
}

.liste {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.liste i {
  color: #0065fc;
  border: 2px;
  border-radius: 50px;
  background-color: #deebff;
  padding: 15px;
  margin-right: 10px;
  border-collapse: collapse;
}

#filtres {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: bold;
  margin: 20px;
}

input {
  height: 40px;
  width: 500px;
  margin-left: 20px;
  font-weight: bold;
  border: 1px solid #f2f2f2;
}

.map {
  background-color: #f2f2f2;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  width: 100px;
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 10px;
}

#logomap {
  display: flex;
  align-self: center;
  margin-left: 15px;
}

#logoinfo {
  color: #0065fc;
  margin: 10px;
  border: 1px solid #f2f2f2;
  border-radius: 50px;
  width: 10px;
  height: 10px;
  padding: 6px;
  text-align: center;
}

button {
  background-color: #0065fc;
  color: white;
  font-size: 15px;
  border: transparent;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-collapse: collapse;
  cursor: pointer;
  height: 40px;
  align-items: center;
}

.loupe {
  display: none;
}

img {
  object-fit: cover;
}

#Popularite {
  display: flex;
  flex-direction: column;
  float: right;
  width: 30%;
}

#Popularite img {
  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;
  object-fit: cover;
  width: 40%;
  height: 100%;
}

.boxPop {
  background-color: white;
  border: 4px;
  border-radius: 15px;
  box-shadow: 2px 2px 20px gray;
  padding: 5px;
  margin: 20px;
  display: flex;
  flex-direction: row;
  min-width: 21vw;
  height: 10vw;
}

.legendePop {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
}

.legendePop .stars {
  display: flex;
  margin-top: 3vw;
}

.iconechart {
  position: relative;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

#hebergements,
#Popularite {
  border: 3px transparent solid;
  border-radius: 10px;
  background-color: #f2f2f2;
}

#hebergements {
  width: 67%;
  margin-left: 10px;
  padding-bottom: 20px;
}

.boxHeb {
  box-sizing: content-box;
  width: 14vw;
  height: 15vw;
  background-color: white;
  border-radius: 20px;
  box-shadow: 2px 2px 20px grey;
  padding: 4px;
  margin: 17px;
}

#min-hebergement {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 20px;
  margin-bottom: 30px;
}

.boxHeb img {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  object-fit: cover;
  width: 100%;
  height: 60%;
}

section a {
  display: inline-block;
  align-items: flex-start;
  font-weight: bold;
}

#activites a {
  display: inline-block;
  align-items: flex-start;
  font-weight: bold;
}

figure {
  width: 275px;
  height: 175px;
  background-color: white;
  border-radius: 20px;
  box-shadow: 2px 2px 20px grey;
  padding-bottom: 15px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  object-fit: cover;
}

#activites {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#activites img {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  height: 93%;
  width: 100%;
  object-fit: cover;
}

article {
  display: flex;
  flex-direction: column;
}

figcaption {
  font-weight: bold;
  padding-left: 10px;
  margin: 2px;
}

.grandeActivite {
  height: 450px;
}

.min-activite {
  height: 200px;
}

.min-activite h2 {
  margin: 0;
}

#Apropos,
#Qualite,
#Assitance {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#Footer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-left: 0;
  padding: 20px;
  background-color: #f2f2f2;
}
}

/* @media screen and (max-width:2500) {
  margin-right: 50px;
  margin-left: 50px;
} */

@media  screen and (max-width:1600px) {


  #hebergements{
    width: 66%
  }
  #Popularite{
    width:30%;
  }
  #activites{
    flex-wrap: nowrap;
  }
  #activites figure{
    width: 80%;
  }
  #logo{
    align-items: flex-start;
  }
}
@media screen and (max-width:1400px){
  #hebergements{
    width: 890px;
  }
  #Popularite{
    width: 390px;
  }

  #activites figure {
    width: 275px;
  }
  
  figcaption{
    margin:0px;
    padding: 0px;
  }

  .legendePop{
    margin-left: 3px;
  }
  .grandeActivite{
    height: 275px;
  }
}


@media screen and (max-width: 1200px) {
  body {
    margin: 30px;
  }

  header {
    display: flex;
    justify-content: space-between;
  }

  #Popularite {
    float: none;
    border-radius: 0;
    margin-top: 8px;
    flex-flow: column wrap;
    height: 218px;
    width: 990px;
  }
  #min-popularite {
    display: flex;
    flex-flow: row nowrap;
    margin: 5px;
    justify-content: space-evenly;
  }
  #hebergements {
    background: none;
    border: none;
    margin-left: 0;
    justify-content: flex-start;
    flex-flow: row wrap;
    padding: 5px;
  }
  #min-hebergement {
    margin: 0;
    margin-top: 5px;
    padding: 0;
    border: 0;
    justify-content: flex-start;
  }

  h2 {
    margin: 0;
  }

  .boxPop {
    width: 223px;
    height: 145px;
    margin: 5px;
    margin-left: 0;
    margin-top: 10px;
  }

  .boxHeb {
    width: 223px;
    height: 155px;
    margin: 12px;
    margin-bottom: 12px;
    margin-left: 0;
    padding: 5px;
  }

  figure {
    height: 155px;
    width: 200px;
    margin: 5px;
    margin-bottom: 12px;
    margin-left: 0;
    flex-flow: row wrap;
  }

  #min-hebergement
  {
    flex-flow: row wrap;
    justify-content: space-evenly;
  }

  #activites{
    flex-flow: row wrap;
  }
  #min-popularite{
    
  }

  #activites article {
    flex-flow: row wrap;
  }

  .min-activite,
  .grandeActivite {
    width: 233px;
    height: 155px;
    margin: 5px;
    margin-bottom: 12px;
  }

}

@media screen and (max-width: 900px) {
  #Popularite{
    width: 100%;
    flex-flow: column wrap;
    height: auto;
  }

  #hebergements{
    width: 90%;
  }
  
  #activites{
    width: 90%;
  }
  article{
    display: flex;
    flex-direction: column;
  }
  #activites figure{
    width:100%;
    flex-flow: row wrap; 
  }
}

@media screen and (max-width: 740px) {
  html,
  body {
    margin: 0;
  }

  body {
    position: relative;
  }

  logo {
    position: absolute;
    margin: 0;
  }

  header {
    display: flex;
    align-items: flex-start;
    flex-flow: column wrap;
  }

  .styleMenu {
    width: 150px;
    border-bottom: 2px solid #f2f2f2;
    padding-bottom: 5px;
    text-align: center;
    font-weight: bold;
    margin-top: 5px;
  }

  .styleMenu a:hover {
    border-top: none;
    padding-bottom: 5px;
    border-bottom: 2px solid #0065fc;
    margin-top: 5px;
    padding: 2px;
  }

  .inscription {
    position: absolute;
    align-content: flex-end;
    right: 2%;
    top: 30px;
  }
  .Rechercher {
    display: none;
  }
  .loupe {
    display: flex;
    border-radius: 5px;
    background-color: #0065fc;
    color: white;
    cursor: pointer;
  }

  #Popularite {
    width: 350px;
    height: 550px;
    flex-direction: column;
  }
  #min-popularite {
    flex-direction: column;
    justify-items: flex-start;
    width: 98%;
  }

  .legendePop .stars {
    margin-top: 60px;
  }
  #min-hebergement,
  #min-popularite,
  #activites, article {
    flex-direction: column;
  }

  .boxHeb{
    width: 100%;
    height: 236px;
  }
  .min-activite,
  .grandeActivite,
  .boxPop {
    height: 150px;
    /* width: 260px; */
    margin-top: 5px;
  }

  #filtres,
  .liste {
    flex-flow: row wrap;
    padding-left: 0;
    margin: 3px;
    padding-bottom: 3px;
  }

  .filtre {
    padding: 2px;
    margin: 3px;
  }

  #min-hebergement {
    margin-left: 0px;
  }
  #activites article {
    flex-direction: column;
    flex-wrap: wrap;
  }
  #activites figure{
    width: 100%;
    height: 236px;
  }
  #Popularite article{
    width: 90%;
  }
  .boxPop{
    width: 100%;
  }
  #Footer {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (min-width: 1700px) {
  body{
    margin-left:10% ;
    margin-right: 10%;
  }
  #activites{
    justify-content: space-around;
    align-items: center;
  }

}